h1 {
	font-size: 72px;
	color: blue;
	text-align:center;
}

#button {
	display: block;
	margin-top: 0px;
	margin-left:auto;
	margin-right: auto;
}

#container {
	display:block;
	border:3px solid;
	border-radius: 15px; 
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: gray;
	height:auto;
	width:220px;
	padding:none;
}
.startunit {
    background-color: white;
    height: 10px;
    width: 10px;
    margin: 0.5px;
    display: inline-block;
	padding:none;
	border:1px solid;
	margin-top:0px;

	 }
/*.startunit:hover {
    background-color: red;
    height: 10px;
    width: 10px;
    margin: 0.5px;
    display: inline-block;
	padding:none;
	border:1px solid;
	margin-top:0px;

	 }*/

.drawunit {
    background-color: red;
    height: 10px;
    width: 10px;
    margin: 0.5px;
    display: inline-block;
	padding:none;
	border:1px solid;
	margin-top:0px;
	 }



.clickedunit {
background-color: green;
    height: 10px;
    width: 10px;
    margin: 1px;
    display: inline-block;
	padding:none;
	border:0px;
}



